In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [29]:
  #create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [30]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 30
Error on page 31
Error on page 31
Error on page 34
Error on page 34

In [31]:
#check the length of total reviews extracted
len(reviews)

3500

In [32]:
len(country)

3500

In [33]:
len(date)

3500

In [34]:
#check the length 
stars = stars[:3500]

In [35]:
df2 = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [36]:
df2.head()

,reviews,stars,date,country
0,✅ Trip Verified | I will never fly British Ai...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,13th April 2023,United States
1,✅ Trip Verified | Worst aircraft I have ever ...,2,12th April 2023,United Kingdom
2,✅ Trip Verified | I enjoyed my flight. The bo...,1,11th April 2023,United Kingdom
3,✅ Trip Verified | Why do you make it so hard? ...,9,10th April 2023,United Kingdom
4,✅ Trip Verified | After several delays and ca...,5,9th April 2023,United States

In [37]:
df2.to_csv('British_airways.csv')